body {
  box-sizing: border-box;
  padding: 30px;
  font-family: Arial, sans-serif;
}

.main-title {
  font-weight: 200;
  text-align: center;
  margin-top: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  margin-bottom: 40px;
}
