body {
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-title {
  font-size: medium;
  justify-self: center;
}

h1 {
  font-weight: 300;
}

#tourForm {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#tourDesc {
  width: 300px;
  height: 110px;
  border-radius: 10px;
  border: none;
  background-color: beige;
  resize: none;
}

.left-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}

#tourTitle {
  margin: 5px 0;
}

#tourSubtitle {
  margin: 5px 0;
}

#tourImage {
  margin: 5px 0;
}
