body {
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-title {
  font-size: medium;
  justify-self: center;
}

h1 {
  font-weight: 300;
}

#tourForm {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}

#tourDesc {
  width: 300px;
  height: 145px;
  border-radius: 10px;
  border: none;
  background-color: beige;
  resize: none;
  outline: none;
}

.left-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}

#tourTitle {
  margin: 5px 0;
  border-radius: 6px;
  height: 30px;
}

#tourSubtitle {
  margin: 5px 0;
  border-radius: 6px;
  height: 30px;
}

#tourImage {
  margin: 5px 0;
  height: 30px;
  border-radius: 6px;
}

#tourForm input {
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

#tourForm input:focus,
#tourDesc:focus {
  border-color: #4a6cf0;
}

.center-line {
  width: 70%;
  margin: 50px auto;
  border: none;
  border-top: 1px solid #ccc;
}
