body {
  background: #f8f8f8;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-title {
  font-size: medium;
  justify-self: center;
}

.main-title h1 {
  font-weight: 300;
  text-align: center;
  margin-top: 30px;
}
#tourForm {
  width: 70%;
  margin: 40px auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}

#tourDesc {
  width: 300px;
  height: 145px;
  border-radius: 10px;
  border: none;
  background-color: beige;
  resize: none;
  outline: none;
}

.left-fields {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 40%;
}

#tourTitle {
  margin: 5px 0;
  border-radius: 6px;
  height: 30px;
}

#tourSubtitle {
  margin: 5px 0;
  border-radius: 6px;
  height: 30px;
}

#tourImage {
  margin: 5px 0;
  height: 30px;
  border-radius: 6px;
}

#tourForm input {
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

#tourForm input:focus,
#tourDesc:focus {
  border-color: #4a6cf0;
}

.center-line {
  width: 70%;
  margin: 50px auto;
  border: none;
  border-top: 1px solid #ccc;
}

.tours-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 1fr));

  gap: 30px;
  width: 80%;
  margin: 40px auto;
}
.tour-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.tour-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.tour-info {
  padding: 28px 25px;
}

.tour-info {
  padding: 28px 25px;
}


.tour-info h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.not-btn {
  margin: 20px auto 10px;
  padding: 10px 20px;
  border: 2px solid #47a76a;
  background: none;
  color: #47a76a;
  border-radius: 6px;
  cursor: pointer;
}

.tour-info p {
  font-size: 1rem;
  line-height: 1.55;
  margin-bottom: 20px;
}

.add-btn {
  display: block;
  margin: 20px auto;
  padding: 12px 25px;
  background: skyblue;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

/*Life is a moment in space
when the dreams is gone, it's lonelier place...*/

.tour-info p {
  font-size: 1rem;
  line-height: 1.55;
  margin-bottom: 20px;
}
