body {
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-title {
  font-size: medium;
  justify-self: center;
}

h1 {
  font-weight: 300;
}

#tourForm {
  display: flex;

  gap: 20px;
}

#tourDesc {
  width: 300px;
  height: 100px;
  border-radius: 10px;
  border: none;
  background-color: beige;
  resize: none;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}
