body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.main-title {
  text-align: center;
  font-size: xx-large;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-weight: 500;
}

.tours-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding-bottom: 25px;
}

.img-wrapper {
  position: relative;
}

img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.price {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #2ecc71;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
}

.card h3 {
  font-size: 20px;
  margin: 20px;
}

.card p {
  margin: 0 20px 25px 20px;
  color: #555;
  line-height: 1.5;
}

.btn {
  margin: 0 20px;
  padding: 10px 0;
  align-items: center
  justify-self: center;
  border: 2px solid #2ecc71;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  font-size: 15px;
  color: #2ecc71;
 
}
