body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background: #f7f7f7;
}

.main-title {
  text-align: center;
  margin-top: 2rem;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 2rem auto;
}

#tourForm {
  display: flex;
  gap: 20px;
}

/* Leva kolona sa inputima */
.left-fields {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 10px;
}

/* Desna kolona sa textarea */
#tourDesc {
  width: 100%;
  height: 150px; /* visina kao ukupno oko 3 inputa */
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  resize: none;
}

/* Input stilovi */
#tourForm input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
}

#tourForm input:focus,
#tourDesc:focus {
  border-color: #4a76ee;
}

#tourForm button {
  margin-top: 15px;
  padding: 12px 20px;
  background: #4a76ee;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  width: 200px;
}
